@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateY {
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes translateX {
  from {
    transform: translateX(5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes formFieldSlide {
  from {
    padding-left: 92rem;
  }
  to {
    padding-left: 0rem;
  }
}

@keyframes rulesItemPop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transofmr: scale(1);
  }
}

@keyframes rulesButtonSlide {
  0% {
    width: 0;
    color: transparent;
    opacity: 0;
  }

  70% {
    color: transparent;
  }

  100% {
    width: 18rem;
    color: $c-dark;
    opacity: 1;
  }
}

@keyframes sliderControlButtonLeftAppear {
  0% {
    transform: translateX(-7rem) rotate(-180deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes sliderControlButtonRightAppear {
  0% {
    transform: translateX(7rem) rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes resultLoseTitleFalling {
  0% {
    transform: translate3d(-2px, -4em, 0);
  }
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  80% {
    transform: translate3d(-2px, -0.5em, 0);
  }
  85% {
    transform: translate3d(-2px, -0.7em, 0);
  }
  100% {
    transform: translate3d(-2px, 0, 0);
  }
}
